<html>
<body>
  

<div class="para">
    <br><br>
    <p>A Bootstrap template designed for all your business needs.</p>
    <span>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains HTML, CSS and JavaScript-based design templates for typography, forms, buttons, navigation, and other interface components.</span>
</div>
<br><br><br><br><br><br>

<div class="container" style="margin-top:20px">
  <div class="row">
    <div class="col-sm-3">

      <div class="image1"><img src="/assets/images.jpeg" class="image1"></div>
      <br>
      <p id="image1">Responsive Layout</p>
      <p id="image2">Veru easy to design a responsive website using bootstrap.</p>
        </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      
      <div class="image2"><img src="/assets/shutterstock_739595833-min.jpeg" class="image2"></div>
      <br>
      <p id="image3">Creative Design</p>
      <p id="image4">We Provide way efficient and attractive design compared to Manual CSS.</p>
        </div>
        <div class="col-sm-1"></div>

      <div class="col-sm-3">
      <div class="image3"><img src="/assets/Technology-Watch.jpeg" class="image3"></div>
      <br>
      <p id="image5">Easy to Setup</p>
      <p id="image6">Very easy to embedd the bootstrap in your own code.</p>
    </div>
  </div>
</div>
<br><br><br><br><br>
</body>
</html>