
.fa {
    padding: 0px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    }
    
    .fa:hover {
    opacity: 0.7;
    }
    
    .fa-facebook {
    background: #3B5998;
    
    float: right !important;
    color: white;
    }
    .fa-twitter {
    background: #55ACEE;
    float: right !important;
    color: white;
    }
    .fa-instagram {
    background: purple;
    float: right !important;
    color: white;
    }
    #a{
      height: 25.5px;
      background-color: aqua;
    }
    